</p>

<div class="sidebar-content">
	<span class="webring__title">color of the moment</span>
	<div class="webring__wrapper" style="height: unset; padding: .6rem 0 0 1.2rem">
		<iframe style="width: 50%; height: 31px;" src="https://zvava.org/api/hue/client" frameborder="0"></iframe>
	</div>
	<div class="webring__wrapper">
		<a href="/wiki/hue-server.html">powered by hue-server</a> <span style="opacity: .5">((and decided by viewers like yourself!)</span>
	</div>
</div>
