<!-- category filter control, used only to store state -->
{html_filter__inputs}

<details><!-- category filter labels -->
	<summary>filter pages by category</summary>
	<div class="label-wrap">
		{html_filter__labels}
	</div>
</details>

<style>
	input { display: none; } /* hide controls */

	label, summary {
		cursor: pointer;
		white-space: pre;
		display: block; }

	summary:hover, summary.focus, label:hover, label.focus {
		font-weight: bold; }

	summary.focus {
		color: #eebfff; }

	.label-wrap { display: flex; flex-wrap: wrap; } .label-wrap label { min-width: 20ch; width: 33%; }
	summary { color: #c27ed5; }
	summary::before { content: " \2192   "; }
	details[open] summary { margin-bottom: 1rem; }
	details[open] summary::before { content: " \2193   "; }
	details[open] summary::after { content: none !important; }

	/* display filter category when details is collapsed */
	{html_filter__selected_collapsed}

	label::before { content: "    "; }
	label:hover::before, label.focus::before  { content: " x  "; }
	{html_filter__selected} {
		content: "[x] ";  }

	#all:not(:checked) ~ [data-category] {
		display: none; }

	{html_filter__shown} {
		display: block; }

	.lazy-mode details {
		pointer-events: none;
		cursor: none; }
</style>
