</p>
<div style="margin: 1.15rem 0 1.75rem">
	<div id="hackergirls">
		<div id="hackergirls2">
			<span class="has-arrow">hacker girls webring~</span><br>
			<a class="invis-arrow" href="https://lunabee.space/extraspace/port.html">lunabee ⇐</a> <span style="opacity: .5">sophia</span> <a class="nob4" href="https://nthia.dev/">⇒ synthia</a><br>
		</div>
	</div>

	<p id="appliances" style="position: relative;">
		<span class="has-arrow">appliance ring</span> (<a class="nob4" href="https://applianceri.ng/">browse</a>)<br>
		<!-- <a class="invis-arrow" href="https://applianceri.ng/prev?host=zvava.org">prev ⇐</a>--> <span style="opacity: .5; padding-left: 3.5ch;">sophia</span> <a class="nob4" href="https://applianceri.ng/next?host=zvava.org">⇒ next<img id="jibo" src="/images/jibo.png" title="Jibo" style="position: absolute; height: 4em; image-rendering: unset; top: -.2em; right: 35ch"></a>
	</p>

	<p id="roboring">
		<span class="has-arrow">roboring</span> (<a class="nob4" href="https://stellophiliac.github.io/roboring">browse</a>)<br>
		<a class="invis-arrow" href="https://stellophiliac.github.io/roboring/zvava/previous">prev ⇐</a> <span style="opacity: .5">sophia</span> <a class="nob4" href="https://stellophiliac.github.io/roboring/zvava/next">⇒ next</a>
	</p>

	<p id="merveilles">
		<span class="has-arrow">merveilles webring</span><br>
		<a style="display: inline-flex; align-items: center; gap: .5rem;" class="invis-arrow webring" href="https://webring.xxiivv.com/#icons" title="merveilles webring">
			<svg style="width: 1rem; height: 1rem; margin-left: -.5ch;" viewBox="0 0 235 211"><title>webring</title><g stroke="currentColor" stroke-width="28" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M70.038 166.32c16.569 28.698 53.264 38.53 81.962 21.962 28.698-16.569 38.53-53.264 21.962-81.961l-50-86.603"></path><path d="M173.962 164.68c16.568-28.698 6.736-65.393-21.962-81.962-28.698-16.569-65.393-6.736-81.962 21.961l-50 86.603"></path><path d="M121 75c-33.137 0-60 26.863-60 60s26.863 60 60 60h100"></path></g></svg>
			<span>browse</span>
		</a>
	</p>

	<style>@media (orientation: portrait) { #jibo { right: 20% !important } }
	a.webring:hover svg * { stroke-width: 40px }</style>
</div>
