/* context menus */

.context-menu {
	min-width: 10rem;
	padding: .33rem 0;
	border: 2px solid #5e126f;
	z-index: 999;
	position: absolute;
	user-select: none;
	opacity: 0;
	margin-top: 5rem;
	transition: opacity .15s, margin-top .15s; }

.context-menu.open, .window.open {
	margin-top: 0 !important;
	opacity: 1 !important; }

.context-menu__text {
	padding: 0 1rem;
	font-size: .8rem;
	opacity: .5; }

.context-menu__link {
	padding: .15rem .66rem;
	border-bottom: 1px solid #313131;
	cursor: pointer; }
.context-menu__link:hover { background: rgba(255, 255, 255, .15); }
.context-menu__link:last-child { border-bottom: none; }

/* windows */

.window:not(.fake) {
	width: 600px;
	height: 450px;
	resize: both;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 99;
	opacity: 0;
	margin-top: 5rem;
	transition: opacity .15s, margin-top .15s; }
