:root { --sidebarWidth: 0ch; }

::selection {
	background-color: #dddddd !important;
	color: #000000 !important;
}

body {
	margin: 0;
	background-color: black;
	background-image: url("/images/bg.png");
	background-position: center;
	color: #dddddd;
	font-family: Ubuntu Mono, "Courier New", Courier, monospace;
	line-height: 1.5rem;
	font-size: 1.1rem; }

.wrap {
	padding: 0 1rem;
	max-width: 80ch;
	margin: 3rem auto 20vh;
	background: rgba(0, 0, 0, .66); }

.wrap__category img {
	max-height: 240px; }

h1, h2, h3, p { margin: 1rem 0; }

/* headings */
h1, h2, h3 { line-height: 1.25em; position: relative; }
h3 { font-size: 1.35rem; }
/* anchor links */
h1 a::before, h2 a::before, h3 a::before { content: none !important; }
h1 a, h2 a, h3 a { color: currentColor !important; display: block; }
h1:hover::before, h2:hover::before, h3:hover::before {
	content: "\1F517";
	left: -2rem;
	font-size: 1rem;
	position: absolute; }

span.ui::before, span.oi::before {
	display: inline-block;
	text-align: right;
	white-space: pre; }

span.ui::before {
	width: 4ch;
	content: " \2022  " }

span.oi::before {
	width: 5ch;
	content: " " attr(data-i) ". " }

img[alt*="welcome to zvava.org"] {
	max-width: 100%;
	width: 100%; }

blockquote { margin: 0 0 0 4ch; }
video, audio { max-width: 100%; }
img { image-rendering: pixelated; max-width: 60ch;}
pre { margin: -.5rem 0; }
pre, blockquote { color: #aaa; }
a:not(.sidebar__link) { text-decoration: none; color: #c27ed5; }
a:focus, a:hover { font-weight: bold; }

a, .has-arrow {
	line-height: 1.7rem;
	font-family: Ubuntu Mono, monospace;
	white-space: pre; }
a:not(.nob4)::before, .has-arrow::before { content: "\21D2  "; color: #c27ed5; }
a.invis-arrow::before { color: transparent !important; }

/* misc */

:target { animation: highlight 5s; }
@keyframes highlight {
	from { background: rgba(253, 255, 0, 0.3); }
	to { background: transparent } }

@media (orientation: portrait) {
	:root { font-size: .9rem; }
	.nav { font-size: 1.2225rem; }

	blockquote { margin-left: 2ch; }
	img { max-width: 100%; }
	p:has(a > img[loading=lazy]) { text-align: center; }
}

nav, .context-menu {
	background-color: black;
	background-image: url("/images/bg2.png");
	animation: scrollbg 5s infinite linear; }

@keyframes scrollbg {
	0% { background-position: 0px 0px; }
	100% { background-position: 128px 128px; } }

/* sidebar */

.nav {
	height: 100vh;
	width: calc(var(--sidebarWidth) + 3px);
	visibility: hidden;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1; }

@media (min-width: 100ch) {
	:root { --sidebarWidth: 20ch; }

	body {
		max-width: unset !important;
		margin-left: var(--sidebarWidth) !important;
		margin-right: 0 !important;
		display: flex;
		justify-content: center;
		overflow-x: hidden; }

	.wrap .sidebar-content { display: none; }
	.wrap { max-width: 80ch; width: 80ch }
	.nav { display: block !important; visibility: visible !important; }
}

@media (min-width: 1300px) {
	:root { --sidebarWidth: 30ch; }

	body { margin-left: 10ch; }
}

/* windows */

.window {
	background: #000000;
	border: 2px solid #5e126f;
	overflow: hidden; }

.window-titlebar {
	display: flex;
	align-items: center;
	color: #eebfff;
	font-size: .8em;
	border-bottom: 2px solid #5e126f;
	background: #18002c;
	cursor: grab;
	user-select: none; }

.window__title {
	padding: 0 .75ch; flex: 1;
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis; }

.window-titlebar__minimize, .window-titlebar__maximize, .window-titlebar__close {
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 3px;
	width: 16px; height: 16px;
	color: #5e126f;
	background: #000000;
	border: 1px solid currentColor;
	cursor: pointer; }

.window-titlebar__minimize:hover, .window-titlebar__maximize:hover, .window-titlebar__close:hover { color: #c884ff; }

.window-titlebar__maximize {
	width: 10px; height: 10px;
	border-width: 4px; border-style: double; }

.window.maximized .window-titlebar__maximize {
	width: 0; height: 0;
	border-width: 9px; }

.window-titlebar__minimize::before, .window-titlebar__close::before, .window-titlebar__close::after {
	content: ""; width: 100%; height: 100%; background-color: currentColor; display: block; }

.window-titlebar__minimize::before { clip-path: polygon(70% 75%, 70% 70%, 20% 70%, 20% 75%); }
.window-titlebar__close::before { clip-path: polygon(0 5%, 5% 0, 100% 95%, 95% 100%); }
.window-titlebar__close::after { margin-top: -100%; clip-path: polygon(95% 0, 100% 5%, 5% 100%, 0 95%); }

.window.minimized .window-titlebar__minimize::before { clip-path: polygon(80% 80%, 80% 65%, 15% 65%, 15% 80%); }

.window-body { flex: 1; }

.window:not(.maximized).minimized {
	width: 10rem !important;
	height: 24px !important; }

.window.maximized {
	width: calc(100vw - var(--sidebarWidth) - .5ch) !important;
	height: calc(100vh - .5ch) !important;
	left: var(--sidebarWidth) !important;
	top: 0 !important; }
